.home-bg {
  height: 570px;
  margin-bottom: 20px;
}
.desc-text {
  text-indent: 2em;
}
ul,
li {
  padding: 10;
  margin: 5;
}
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  font-size: 14px;
}
.item {
  margin-bottom: 18px;
}
.box-card {
  width: 100%;
  height: 100%;
}
.custom-button {
  border: 1px solid #409eff;
  background-color: #409eff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.3s;
}
.custom-button:hover {
  background-color: #66b1ff;
  border-color: #66b1ff;
}
::v-deep(.cell) {
  padding: 0 !important; /* 移除默认的 padding */
  overflow: visible !important; /* 确保内容不被裁剪 */
  display: flex !important; /* 使用 flex 布局 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

::v-deep(.el-tooltip) {
  overflow: visible !important; /* 确保内容不被裁剪 */
}
