.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  .home-bg {
    width: 70%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
}
.box-card {
  width: 100%;
  height: 100%;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.highlight-text {
  font-weight: bold; /* 粗体 */
  line-height: 2; /* 行高为字体大小的两倍 */
  color: #409eff; /* 蓝色 */
  text-indent: 4ch; /* 首行缩进4个字符 */
}
